html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}

.imageCard {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#player-cards,
#computer-cards {
  height: 300px;
  margin: 19px 54px;
}

#btnOrder {
    margin: 13px 26px;
    
}

h1{
    font-family:'Times New Roman', Times, serif;
}
